/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/.qmake.stash
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/mainwindow.o
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_mainwindow.cpp
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_mainwindow.o
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_predefs.h
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/ui_mainwindow.h
/ShapeDetector/ShapeDetector.pro.user
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/main.o
/build-ShapeDetector-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/ShapeDetector.exe
/ShapeDetector/release/main.o
/ShapeDetector/release/mainwindow.o
/ShapeDetector/release/moc_mainwindow.cpp
/ShapeDetector/release/moc_mainwindow.o
/ShapeDetector/release/moc_predefs.h
/ShapeDetector/release/ShapeDetector.exe
